
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../dylan.jpg);
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    background-color: #24292e;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 50px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: #EDF0F0;
    margin: 35px;

}

input {
    padding: 15px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #c79b18;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

::placeholder {
    color: #89879b;
}

.btn {
    background-color: #E53854;
    border: 2px solid #E53854;
    cursor: pointer;
}

.btn:hover {
    background-color: #E33854;
    border: 2px solid #E53854;
}




