body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.titulo{
    text-align: center;
    color: #ffffff
    ;
    font-family: 'Lexend', sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: rgb(71, 69, 69);
    margin: 10px;
}

.menu a:hover{
    border: 1px solid rgb(56, 55, 55);
    background-color: rgba(207, 240, 250, 0.938);
    color: rgb(26, 23, 23);
    border-radius: 10px;
}