body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
}

.titulo{
    background-color: #24253c;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #24253c;
    height: 120px;
}

.titulo{
    text-align: center;
    color: rgb(68, 66, 66);
    font-family: 'Lexend', sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: #24253c;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: rgb(71, 69, 69);
    background-color: #24253c;
    margin: 10px;
}

.menu a:hover{
    border: 1px solid rgb(56, 55, 55);
    background-color: rgb(75, 90, 85);
    color: white;
    border-radius: 10px;
}